@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    padding: 0px;
    margin:0px;
    font-family: pacifico;
}
body{
    background: linear-gradient(to top left ,aqua,deeppink);
}
.img{
    margin: auto auto;
    width:fit-content;
}
#carouselId{
    margin: auto;
}

.text-container {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 5vw;
    width: 90vw;
    height: 95vh;
    padding: 10px;
    background: #333;
    overflow: hidden;
    flex-direction: column;
  }
  .text-container1 {
    position: relative;
    justify-content: center;
    display: flex;
    margin: 5vw;
    width: 90vw;
    height: auto;
    padding: 10px;
    background: #333;
    overflow: hidden;
    flex-direction: column;
  }
  .text{
    position: absolute;
    top: 40%;
    text-align: center;
    font-weight: 500;
    font-size: 3em;
    color: red;
    padding: 10px;
    text-transform:capitalize;
    transform: translate(0,-50%);
    transition: all 0.5s;
  }
  .audio{
    position: absolute;
    width: 100%;
    margin-left: -10px;
    bottom: 10px;
  }
  .dud {
    color: orange;
  }
  .text-container1 a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
    border: 2px solid white;
    border-radius: 20px;
    color: black;
    font-weight: 900;
    text-shadow: 0 0 10px cyan;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(to top left, blue,aqua);
    animation: button 5s infinite;
  }
  @keyframes button{
    0%,100%{
      filter: hue-rotate(0deg);
    }
    50%{
      filter: hue-rotate(360deg);
    }
  }
  .say{
      color: white;
      text-align: center;
      text-transform: capitalize;
      font-size: 30px;
      line-height: 1.5em;
  }